aiohttp==3.7.4
akinator.py==4.0.1
ascii==3.6
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
braceexpand==0.1.6
buttons==0.1.9
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
discord==1.0.1
discord-timers==0.1.0
discord.py==1.6.0
dnspython==2.1.0
emoji==0.6.0
flask==1.1.2
humanize==3.2.0
idna==2.10
import-expression==1.1.4
jishaku==1.20.0.220
ksoftapi==0.3.3a0
lxml==4.6.2
markupsafe==1.1.1
motor==2.3.0
multidict==5.1.0
nest-asyncio==1.4.3
pillow==9.0.0
praw==7.1.0
prawcore==1.5.0
psutil==5.8.0
pycparser==2.20
pyfiglet==0.8.post1
pymongo==3.11.2
pynacl==1.4.0
requests==2.25.1
ruamel.appconfig==0.5.5
ruamel.std.argparse==0.8.3
six==1.15.0
soupsieve==2.1; python_version >= "3.0"
timeago==1.0.15
typing-extensions==3.7.4.3
update-checker==0.18.0
urllib3==1.26.5
websocket-client==0.57.0
werkzeug==1.0.1
wheel==0.36.2
wikipedia==1.4.0
yaml-1.3==0.1.0
yarl==1.6.3
youtube-dl==2020.7.28
